---
import Navigation from './Navigation.astro';
---

<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="/assets/img/logo.svg" alt="Stigler AI Innovations Logo" width="180" height="40" />
      <span class="sitename">Stigler AI Innovations</span>
    </a>
    <Navigation />
    <div class="header-social-links">
      <a href="https://linkedin.com/in/patrickstigler" target="_blank" rel="noopener noreferrer" class="linkedin" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</header>
